@tailwind base;
@tailwind components;
@tailwind utilities;
/* Tailwind bilan scrollbarni yashirish */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none; /* IE va Edge */
    scrollbar-width: none; /* Firefox */
}
