@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind bilan scrollbarni yashirish */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none; /* IE va Edge */
    scrollbar-width: none; /* Firefox */
}

body {
    @apply font-sans;
}
@keyframes slide-up {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

.animate-slide-up {
    animation: slide-up 0.3s ease-out;
}
